global
    log stdout format raw local0
    maxconn 2048
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    log global
    mode http
    option httplog
    option forwardfor
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend public_http
    bind *:80
    http-request redirect location https://localhost:8443%[url] code 301

frontend public_https
    bind *:443 ssl crt /certs/server.pem alpn h2,http/1.1
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443

    acl proxy_health path -i /__proxy_health
    acl mobile_api_path path_beg /mobile-api
    acl web_api_path path_beg /api
    acl grafana_path path_beg /grafana

    http-request return status 200 content-type text/plain string "ok\n" if proxy_health
    use_backend mobile_api_backend if mobile_api_path
    use_backend web_api_backend if web_api_path
    use_backend grafana_backend if grafana_path
    default_backend web_backend

backend web_api_backend
    http-request replace-path ^/api/?(.*) /\1
    option httpchk GET /health
    http-check expect status 200
    server api api:3000 check

backend mobile_api_backend
    http-request replace-path ^/mobile-api/?(.*) /\1
    option httpchk GET /health
    http-check expect status 200
    server mobile-api mobile-api:3001 check

backend web_backend
    option httpchk GET /health
    http-check expect status 200
    server web web:5000 check

backend grafana_backend
    option httpchk GET /api/health
    http-check expect status 200
    server grafana grafana:3000 check

listen statistics
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

frontend prometheus_metrics
    bind *:8405
    http-request use-service prometheus-exporter if { path /metrics }
    http-request return status 404
